.pait2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: radial-gradient(
      92.72% 113.36% at 70.08% 0.1%,
      rgb(191, 168, 255) 0%,
      rgba(191, 168, 255, 0) 100%
    ),
    linear-gradient(181deg, rgb(251, 253, 255) 1.24%, rgb(199, 209, 219) 99.07%);
  box-shadow: rgba(218, 205, 255, 0.6) 0px 0px 24px 0px;
  font-size: 14px;
  color: var(--Background, #0b132b);
  margin: 10px 0;
  width: 100%;
  padding: 16px 0;
}
  .wordings2 span {
    color: #45a5a3;
    color: var(--Primary-action, #45a5a3);
    font-size: var(--Label-Large-Size, 14px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Label-Large-Line-Height, 20px); /* 142.857% */
    letter-spacing: var(--Label-Medium-Tracking, 0.5px);
    font-size: 18px;
  }
  .wordings2 p {
    color: var(--Background, #0b132b);
    font-size: var(--Label-Large-Size, 14px);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 300px;
    line-height: var(--Label-Large-Line-Height, 20px); /* 142.857% */
  }
  .logo2 {
    margin-right:15px;
  }
  .buybutton2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--Corner-Full, 1000px);
    background-color: #0b132b;
    color: #fbfdff;
    padding: 8px 10px;
    width: 140px;
    margin-top: 13px;
    cursor: progress;
  }
  .pait-btn{
    display: flex;
    gap: 5px;
  }
  .pait-btn span{
 color: #c7d1db;   
  } 