body {
  display: grid;
  place-items: center;
}



.createwallet-container {
  display: flex;
  flex-direction: column;
  gap: var(--sds-size-space-800);
  background-color: #0b132b;
  border-radius: 30px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.create {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin: 45px 0;
}

.Tips-container {
  margin-top: 40px;
}

.tip1 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  margin-bottom: 18px;
}

.tip1-text {
  color: #f2f2fb;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  width: 250px;
}

.tip1-text span {
  font-size: 12px;
  font-weight: 300;

}

.phrase-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 148px;
  width: 350px;
  margin: 57px auto 0;
  border-radius: 12px;
  background: radial-gradient(184.21% 125.31% at 75.51% 0%, rgba(111, 255, 233, 0.4) 0%, rgba(111, 255, 233, 0) 100%),
              linear-gradient(180deg, #fbfdff 0%, #c7d1db 100%);
  box-shadow: 0 6px 10px 4px rgba(0, 0, 0, 0.15), 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}

.Inside-phrasebtn {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.Inside-phrasebtn span {
  color: #0b132b;
  font-size: 18px;
  font-weight: 500;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rotating { animation: rotate 1s linear infinite; }

.phrase-loading.loading {
  opacity: 0.7;
  cursor: not-allowed;
}
.modal-content {
  background-color: #0b132b;
  width: 100%;
  height: 85dvh;
  border-radius: 16px 16px 0 0;
  animation: slideUp 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  position: relative;
  padding: 24px;
  @media screen and (min-width: 768px) {
    max-width: 440px;
  }
}.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
  animation: fadeIn 0.3s ease-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}