body {
  display: grid;
  place-items: center;
  margin: 0;
}

.Inside-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--sds-size-space-800);
  flex: 1 0 0;
  align-self: stretch;
  background-color: #0b132b;
  width: 393px;
  height: 852px;
  margin-top: 60px;
  border-radius: 30px;
}
.top {
  display: flex;
  padding-top: 30px;
  padding-left: 20px;
  gap: 240px;
}
.connect {
  color: #fff;
  font-family: Poppins;
  font-size: var(--Title-Large-Size, 30px);
  font-weight: 500;
  margin-left: 110px;
  margin-top: 45px;
}
.hand {
  margin-left: 65px;
  margin-top: 40px;
}
.text1 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: var(--Label-Large-Size, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  margin-top: 45px;
}
.createbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--Corner-Medium, 12px);
  background: var(--Primary-action, #45a5a3);
  padding: 10px 0;
  margin-top: 170px;
  margin-left: 20px;
  border: none;
  width: 350px;
  cursor: pointer;
}
.Inside-createbtn {
  display: flex;
  gap: 10px;
  align-items: center;
}
.Inside-createbtn span {
  color: var(--Text, #f2f2fb);
  font-family: Poppins;
  font-size: var(--Label-Large-Size, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.linkbtn {
  display: flex;
  padding: var(--sds-size-space-200) var(--sds-size-space-400);
  justify-content: center;
  align-items: center;
  gap: var(--sds-size-space-300);
  align-self: stretch;
  border-radius: var(--Corner-Medium, 12px);
  background: var(--Border, #3a506b);
  margin-left: 20px;
  margin-top: 15px;
  width: 350px;
  padding: 10px 0;
  cursor: pointer;
  border: none;
}
.Inside-linkbtn {
  display: flex;
  gap: 10px;
  align-items: center;
}
.Inside-linkbtn {
  color: var(--Text, #f2f2fb);
  font-family: Poppins;
  font-size: var(--Label-Large-Size, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-out;
}

.modal-content {
  padding: 20px;
  border-radius: 10px;
  max-height: 100%;
  animation: slideUp 0.3s ease-out;
  overflow-y: auto;

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
}

/* Hide scrollbar for Webkit browsers */
.modal-content::-webkit-scrollbar {
  display: none;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}