body {
  margin: 0;
}

.connect-btn {
  background-color: #45a5a3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
  animation: fadeIn 0.3s ease-out;
}

.modal-content {
  background-color: #0b132b;
  width: 100%;
  height: 85dvh;
  border-radius: 16px 16px 0 0;
  animation: slideUp 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  position: relative;
  padding: 24px;
  @media screen and (min-width: 768px) {
    max-width: 440px;
  }
}

.Inside-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.logo2 {
  cursor: pointer;
}

.connect {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
}

.text1 {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

.createbtn,
.linkbtn {
  padding: 8px 16px;
  width: 100%;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons-wrapper {
  display: inherit;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.createbtn {
  background-color: #45a5a3;
}

.linkbtn {
  background-color: #3a506b;
}

.Inside-createbtn,
.Inside-linkbtn {
  display: flex;
  gap: 10px;
  align-items: center;
}

.Inside-createbtn span,
.Inside-linkbtn span {
  color: #f2f2fb;
  font-weight: 500;
  font-size: 14px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

