.Main-container {
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 385px;
  align-items: flex-start;
  background-color: #0b132b;

  border-radius: 40px;
}
.home-logo {
  margin-bottom: 30px;
}
.pait {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: radial-gradient(
      92.72% 113.36% at 70.08% 0.1%,
      rgb(191, 168, 255) 0%,
      rgba(191, 168, 255, 0) 100%
    ),
    linear-gradient(181deg, rgb(251, 253, 255) 1.24%, rgb(199, 209, 219) 99.07%);
  box-shadow: rgba(218, 205, 255, 0.6) 0px 0px 24px 0px;
  font-size: 14px;
  color: var(--Background, #0b132b);
  margin: 10px 0;
  gap: 12px;
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
.wordings span {
  color: #45a5a3;
  color: var(--Primary-action, #45a5a3);
  font-family: Poppins;
  font-size: var(--Label-Large-Size, 14px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Label-Large-Line-Height, 20px); /* 142.857% */
  letter-spacing: var(--Label-Medium-Tracking, 0.5px);
  font-size: 14px;
}
.wordings {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.wordings p {
  margin: 0;
}
.wordings h2 {
  font-weight: 600;
  font-size: 20px;
  color: #0b132b;
}
.one {
  color: #3a506b;
  font-size: 14px;
}
.one span {
  color: #45a5a3;
  font-weight: 600;
}
.coin-price {
  color: var(--Border, #3a506b);
  font-size: var(--Label-Large-Size, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Label-Large-Line-Height, 20px);
  letter-spacing: var(--Label-Medium-Tracking, 0.5px);
  font-size: 18px;
}
.buybutton {
  background-color: #0b132b;
  color: white;
  padding: 5px 20px;
  width: 120px;
  display: flex;
  gap: 4px;
  border-radius: 15px ;
  border: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}


.coins-header {
  color: #8a94b0;
  font-size: 16px;
}

.token-button {
  display: flex;
  justify-content: center;
  gap: 4px;
  background: white;
  color: black;
  padding: 4px 16px;
  cursor: pointer;
  border-radius: 1000px;
  border: none;
}

.ton-btn {
  padding-left: 40px;
}
.sol-btn {
  padding-left: 20px;
}
.sol {
  color: var(--Text, #f2f2fb);
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}
.all span {
  color: #5bc0be;
  font-weight: 500;
}
.two {
  font-size: 12px;
  color: #8a94b0;
}
.coins-container {
  display: grid;
  gap: 16px;
}
.coinscard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  color: #f2f2fb;
  background: radial-gradient(
      120% 280% at 0% 50%,
      rgba(146, 75, 250, 0.2) 0%,
      rgba(67, 176, 254, 0.08) 29%,
      rgba(27, 251, 156, 0.09) 63.5%,
      rgba(27, 251, 156, 0) 100%
    ),
    #1c2541;
  padding: 16px;
}

.ton {
  color: var(--Text, #f2f2fb);
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}
.all2 span {
  color: var(--Verdigris, #5bc0be);
  font-family: Poppins;
  font-size: var(--Label-Medium-Size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.three {
  color: var(--Text-Muted, #8a94b0);
  font-family: Poppins;
  font-size: var(--Label-Medium-Size, 16px);
  font-style: normal;
  font-weight: 300;
  letter-spacing: var(--Label-Medium-Tracking, 0.5px);
}
.dock1 {
  margin-top: 1px;
}
.button-container {
  margin-left: 127px;
  margin-top: 120px;
}
.walletbtn {
  padding: 6px 12px;
  border-radius: 1000px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  border: none;
  margin-bottom: 16px;
}
.wallet {
  display: flex;
  gap: 5px;
}

